.shopify-section #kitBuilder {
  margin-top: 4.5rem;
  min-height: 100vh;
}

.shopify-section #kitBuilder .kb-wrapper {
  overflow: hidden !important;
}

.shopify-section #kitBuilder .kb-wrapper div,
.shopify-section #kitBuilder .kb-wrapper span,
.shopify-section #kitBuilder .kb-wrapper p,
.shopify-section #kitBuilder .kb-wrapper li {
  font-family: var(--glob-body-family) !important;
}

.shopify-section #kitBuilder .kb-wrapper input {
  font-family: var(--glob-body-family) !important;
  border-width: 1px !important;
  box-shadow: none !important;
}

.shopify-section #kitBuilder .kb-wrapper .kb-customise-product-heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  float: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopify-section #kitBuilder .kb-wrapper .kb-customise-product-heading .kb-customise-product-name {
  width: unset !important;
  font-size: 3rem !important;
}

.shopify-section #kitBuilder .kb-wrapper .kb-breadcrumbs {
  flex-wrap: wrap;
}

.shopify-section #kitBuilder .kb-wrapper .kb-wizard-breadcrumbs {
  counter-reset: steps !important;
  align-items: normal;
}

.shopify-section #kitBuilder .kb-wrapper .kb-wizard-breadcrumbs .kb-wizard-breadcrumb {
  position: relative;
  background-color: transparent !important;
}

.shopify-section #kitBuilder .kb-wrapper .kb-wizard-breadcrumbs .kb-wizard-breadcrumb:not(:first-of-type)::before {
  content: "";
  position: absolute;
  left: calc((50% - 21px)*-1);
  right: 13%;
  height: 2px;
  background: #000000;
  top: 20px;
  width: calc(100% - 43px);
}

.shopify-section #kitBuilder .kb-wrapper .kb-wizard-breadcrumbs .kb-wizard-breadcrumb a {
  flex-wrap: wrap;
}

.shopify-section #kitBuilder .kb-wrapper .kb-wizard-breadcrumbs .kb-wizard-breadcrumb a::before {
  font-weight: 700!important;
  counter-increment: steps!important;
  content: counter(steps)!important;
  display: block;
  font-size: 16px;
  top: 0;
  right: 0;
  left: 0;
  border: 2px solid black;
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0 !important;
  margin-bottom: 0.5rem;
}

.shopify-section #kitBuilder .kb-wrapper .kb-wizard-breadcrumbs .kb-wizard-breadcrumb a .kb-wizard-breadcrumb-inner {
  color: #000000 !important;
}

.shopify-section #kitBuilder .kb-wrapper .kb-wizard-breadcrumbs .kb-wizard-breadcrumb.kb-wizard-breadcrumb-active {
  opacity: 1 !important;
}

.shopify-section #kitBuilder .kb-wrapper .kb-wizard-breadcrumbs .kb-wizard-breadcrumb.kb-wizard-breadcrumb-active a::before {
  background-color: #1B1B1B;
  color: white;
}

.shopify-section #kitBuilder .kb-wrapper .kb-preview-panel,
.shopify-section #kitBuilder .kb-wrapper .kb-customise-edit-panel {
  width: 100% !important;
}

@media (min-width: 768px) {
  .shopify-section #kitBuilder .kb-wrapper .kb-preview-panel,
  .shopify-section #kitBuilder .kb-wrapper .kb-customise-edit-panel {
    width: 45% !important;
  }
}

.shopify-section #kitBuilder .kb-wrapper .kb-preview-panel {
  float: left !important;
  margin-top: 70px !important;
}

.shopify-section #kitBuilder .kb-wrapper .kb-customise-edit-panel {
  float: right !important;
}

.shopify-section #kitBuilder .kb-wrapper .kb-wizard {
  max-height: unset !important;
}

.kit-builder--customize.button.button--secondary {
  width: 100%;
  margin-top: 12px;
}

.customize__text {
  margin-bottom: 1rem;
}

.kit-builder__buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
}

.kit-builder-page main {
  min-height: unset !important;
}

.kit-builder-page .heading-wrapper {
  display: none;
}

.kit-builder-page .kb-single-item-checkout {
  display: flex;
  flex-direction: column;
}

.kit-builder-page .kb-single-item-checkout .kb-buttons {
  order: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem !important;
}

body #kitBuilder .kb-wrapper .kb-customise-page .kb-change-view-button {
  background-color: #fff !important;
  color: #2a2843 !important;
  font-size: 14px !important;
}

body #kitBuilder .kb-wrapper .kb-customise-page .kb-change-view-button::after {
  content: '';
  position: absolute;
  top: 53%;
  left: -15%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSvgIcon-root MuiSvgIcon-fontSizeLarge css-1shn170' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='SwapHorizIcon' tabindex='-1' title='SwapHoriz'><path d='M6.99 11 3 15l3.99 4v-3H14v-2H6.99zM21 9l-3.99-4v3H10v2h7.01v3z'></path></svg>");
}

.ajax-cart__customized-products {
  display: flex;
  margin-bottom: 1rem;
}

.ajax-cart__customized-products-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

body #kitBuilder .kb-wrapper .kb-buttons {
  align-items: center;
}

body #kitBuilder .kb-wrapper .kb-button {
  --button-border-width: min(.15em, 2px);
  --button-text-decoration: none;
  --button-inline-spacing: min(1.25em, 25px);
  --button-block-spacing: min(1em, 20px);
  --button-bg-color: var(--color-scheme-primary-button-bg);
  --button-bg-hover-color: var(--color-scheme-primary-button-bg-hover);
  --button-text-color: var(--color-scheme-primary-button-text);
  --button-border-color: var(--color-scheme-primary-button-border);
  --button-link-color: var(--color-scheme-links);
  --button-wide-mult: 1.5;
  border-radius: var(--glob-border-radius-base) !important;
  padding-inline: calc(var(--button-inline-spacing) * var(--button-wide-mult)) !important;
  border: var(--button-border-width) solid var(--button-border-color) !important;
  background: var(--button-bg-color) !important;
  color: var(--button-text-color) !important;
  font-family: var(--glob-button-family) !important;
  font-size: var(--glob-button-size) !important;
  font-weight: var(--glob-button-weight) !important;
  text-transform: var(--glob-button-transform) !important;
  letter-spacing: var(--glob-button-letter-spacing, normal) !important;
  word-spacing: max(var(--glob-button-letter-spacing) * 1.1,.25em) !important;
  transition: var(--transition-base) !important;
  line-height: 1 !important;
  text-align: center !important;
  text-decoration: var(--button-text-decoration) !important;
  text-underline-offset: 0.15em !important;
  padding: 1em 2em !important;
  position: relative;
  min-width: auto !important;
}

body #kitBuilder .kb-wrapper .kb-button-next:after {
  content: "";
  display: inline-block;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="white" viewBox="0 0 24 38.4" width="24" height="38.4"><title>angle-right</title><path d="M20.895 17.505c0.938 0.938 0.938 2.46 0 3.397l-12 12c-0.938 0.938 -2.46 0.938 -3.397 0s-0.938 -2.46 0 -3.397L15.802 19.2 5.505 8.895c-0.938 -0.938 -0.938 -2.46 0 -3.397s2.46 -0.938 3.397 0l12 12z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  stroke: #fff;
  width: 16px;
  height: 16px;
  fill: #fff;
  vertical-align: top;
  stroke-width: var(--glob-icon-stroke-width);
  stroke-linecap: var(--glob-icon-linecap);
  stroke-linejoin: var(--glob-icon-linejoin);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

body #kitBuilder .kb-wrapper .kb-button-prev,
body #kitBuilder .kb-wrapper .kb-button-single-item-checkout-prev {
  background-color: var(--color-g-bg) !important;
  border: 0 !important;
  color: var(--color-g-text) !important;
}

body #kitBuilder .kb-wrapper .kb-button-prev:after,
body #kitBuilder .kb-wrapper .kb-button-single-item-checkout-prev:after {
  content: "";
  display: inline-block;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="black" viewBox="0 0 24 38.4" width="24" height="38.4"><title>angle-right</title><path d="M20.895 17.505c0.938 0.938 0.938 2.46 0 3.397l-12 12c-0.938 0.938 -2.46 0.938 -3.397 0s-0.938 -2.46 0 -3.397L15.802 19.2 5.505 8.895c-0.938 -0.938 -0.938 -2.46 0 -3.397s2.46 -0.938 3.397 0l12 12z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  color: #000000;
  stroke: #000000;
  width: 16px;
  height: 16px;
  fill: #000000;
  vertical-align: top;
  stroke-width: var(--glob-icon-stroke-width);
  stroke-linecap: var(--glob-icon-linecap);
  stroke-linejoin: var(--glob-icon-linejoin);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(50%);
  rotate: 180deg;
}

body #kitBuilder .kb-wrapper .kb-wizard-breadcrumb-active .kb-wizard-breadcrumb-inner {
  text-decoration: underline !important;
  font-weight: 600 !important;
}

td.kb-table-cell.kb-table-cell-number.kb-aggregate-size-quantity {
  display: flex;
  justify-content: flex-end;
}

td.kb-table-cell.kb-table-cell-number.kb-aggregate-size-quantity input {
  font-size: inherit !important;
  resize: none !important;
  color: inherit !important;
  font-family: inherit !important;
  display: block !important;
  padding: 0.75em !important;
  border: 1px solid var(--color-g-border) !important;
  background-color: var(--color-g-fg) !important;
  border-radius: var(--glob-border-radius-inner) !important;
  text-align: center !important;
}
